# kopo_product_volume 테이블을 불러온 후 다음 과정을 진행 하세요. 모든 주차에 이동평균을 window 5로 설정하여 구한 후 (빈 셀은 존재하는 날개에 대해서만) RATIO 컬럼을 추가하여 VOLUME/이동평균 값으로 넣으세요

In [29]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 
selloutData.head(2)
# selloutData.head(2) = selloutData.tali(2)

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

In [30]:
test1=selloutData.sort_values(["regionid","productgroup","yearweek"], ascending=[True,False])
test1.head(5)

ValueError: Length of ascending (2) != length of by (3)

In [9]:
selloutData["RATIO"]=selloutData['volume'].rolling(window=5, center=True).mean()

In [10]:
selloutData.head(10)

  regionid productgroup yearweek    volume     RATIO
0      A01       ST0002   201512  151750.0       NaN
1      A01       ST0001   201520  645626.0       NaN
2      A01       ST0002   201520  125863.0  372476.4
3      A01       ST0001   201515  810144.0  476419.2
4      A01       ST0002   201515  128999.0  374187.4
5      A01       ST0001   201518  671464.0  443022.8
6      A01       ST0002   201518  134467.0  309053.4
7      A01       ST0001   201513  470040.0  388211.0
8      A01       ST0002   201513  140297.0  283020.0
9      A01       ST0001   201511  524787.0  409112.0

In [11]:
import math
suborder=math.floor(5/2)
suborder

2

In [13]:
list=[]
for i in range(0,suborder):
    list.append(selloutData['volume'][0:i+suborder].mean())
list

[398688.0, 307746.3333333333]

In [14]:
import logging

In [15]:
%config Application.log_level=logging.ERROR

In [16]:
logging.getLogger().setLevel(logging.ERROR)

In [17]:
for i in range(0,suborder):
    selloutData.loc[i,"TEST"]=list[i]
selloutData.head(5)

  regionid productgroup yearweek    volume     RATIO           TEST
0      A01       ST0002   201512  151750.0       NaN  398688.000000
1      A01       ST0001   201520  645626.0       NaN  307746.333333
2      A01       ST0002   201520  125863.0  372476.4            NaN
3      A01       ST0001   201515  810144.0  476419.2            NaN
4      A01       ST0002   201515  128999.0  374187.4            NaN

In [19]:
list1=[]
num=len(selloutData)-1
for i in range(0,suborder):
    list1.append(selloutData['volume'][i-suborder-1:].mean())
list1

[544957.6666666666, 447448.0]

In [21]:
for i in range(0,suborder):
    selloutData['TEST'][num-i]=list1[i]
selloutData.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  regionid productgroup yearweek    volume     RATIO           TEST
0      A01       ST0002   201512  151750.0       NaN  398688.000000
1      A01       ST0001   201520  645626.0       NaN  307746.333333
2      A01       ST0002   201520  125863.0  372476.4            NaN
3      A01       ST0001   201515  810144.0  476419.2            NaN
4      A01       ST0002   201515  128999.0  374187.4            NaN