# 1.

In [215]:
pwd

'C:\\Users\\SMART-06\\pythonStudy\\0622_기말시험'

In [27]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine

In [28]:
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 
customerData.head(2)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

In [29]:
# DB 커넥션 열기
engine2 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
resultname='oracleresult'
customerData.to_sql(resultname, engine2, if_exists='replace', index=False)

# 2.

In [94]:
import pandas as pd
from sqlalchemy import create_engine

In [95]:
engine3 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

In [96]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData2 = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME ', engine3) 
customerData2.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [97]:
## 데이터프레임 생성
customerData3 = pd.DataFrame(customerData2)
customerData3.head(3)

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0

In [98]:
answer1 = customerData3[ (customerData3.yearweek >= '201600' ) ]
answer1.head(2)

   regionid productgroup yearweek    volume
82      A01       ST0001   201605  661049.0
83      A01       ST0002   201605  231214.0

In [125]:
resultname='oracleresult'

answer1.to_sql(resultname1, engine3, if_exists='replace', index=False)

# 3.

In [205]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
columns=bs.select('table > thead > tr > th')
columns

columnlist=[]
for column in columns:
    columnlist.append(column.text)
    
df=pd.DataFrame(columns=columnlist)
df
# outDf = pd.DataFrame(np.array(outList).reshape(1,1))
# outDf.columns = ['DATE','WEEK','HOLIDAY_NAME','HOLIDAY_TYPE']
# outDf.columns

Empty DataFrame
Columns: [Date, Weekday, Holiday Name, Holiday Type]
Index: []

In [206]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.select("#zebra fw tb-cl tb-hover > tbody > tr > td")
#stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
#stock_list[0].find('a').text
count = 0
stock_nameList = []
stock_priceList = []
for stock_one in stock_list:
    if count > 6:
        break
    stock_name = stock_one.find("td").text
    stock_price = stock_one.find("th").text
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
    #print(count, stock_name, stock_price,count)
list1 = pd.DataFrame(stock_nameList)
list2 = pd.DataFrame(stock_priceList)
final = pd.concat([list1,list2], axis = 1)
final.head(2)

Empty DataFrame
Columns: []
Index: []

In [212]:
# html 부분구조 가져오기
gitList1 = bs.findAll("th",{"class":"nw"}).text


print(gitList1)
    

df1=pd.DataFrame(gitList1) 

df1.columns= ["DATE"]
df1

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [182]:
# html 부분구조 가져오기
gitList = bs.findAll("td",{"class":"nw"},limit = 6)


print(gitList)


gitlistResult=[]
for glist in gitList:
    gitlistResult.append(glist.text)
    

df2=pd.DataFrame(data=columnlist) 

df2.columns= ["WEEK"]
df2

[<td class="nw">Monday</td>, <td class="nw">Friday</td>, <td class="nw">Wednesday</td>, <td class="nw">Thursday</td>, <td class="nw">Friday</td>, <td class="nw">Saturday</td>]

           WEEK
0          Date
1       Weekday
2  Holiday Name
3  Holiday Type

In [214]:
# html 부분구조 가져오기
gitList3 = bs.select_one("tbody > tr > td > a")
print(gitList3)

df3=pd.DataFrame(gitList3) 

df3.columns= ["HOLIDAY_NAME"]
df3

<a href="/holidays/southkorea/new-year-day">New Year's Day</a>

KeyError: 0

In [176]:
# html 부분구조 가져오기
gitList3 = bs.select("tbody > tr > td")
print(gitList3)


gitlistResult=[]
for glist in gitList3:
    gitlistResult.append(glist.text)
    

df4=pd.DataFrame(data=columnlist) 

df4.columns= ["HOLIDAY_TYPE"]
df4

[<td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>, <td>National holiday</td>, <td class="nw">Friday</td>, <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td>, <td>Observance</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td>, <td>Observance</td>, <td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td>, <td>National holiday</td>, <td class="nw">Friday</td>, <td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td>, <td>National holiday</td>, <td class="nw">Saturday</td>, <td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td>, <td>National holiday</td>, <td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td>, <td>Observance</td>, <td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td>, <td>National holiday</td>, <td class="nw">Friday</td>, <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td>, <td>Observance</td>, <td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td>, <td>Observance</td>, <td class="nw">Tuesday</td>, <td><a href="/calendar/march-equinox.html">March equinox</a></td>, <td>Season</td>, <td class="nw">Thursday</td>, <td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td>, <td>Observance</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/labor-day">Labor Day</a></td>, <td>Bank Holiday</td>, <td class="nw">Saturday</td>, <td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td>, <td>National holiday</td>, <td class="nw">Monday</td>, <td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td>, <td>National holiday</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td>, <td>Observance</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td>, <td>Observance</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td>, <td>National holiday</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td>, <td>National holiday</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td>, <td>National holiday</td>, <td class="nw">Thursday</td>, <td><a href="/calendar/june-solstice.html">June Solstice</a></td>, <td>Season</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td>, <td>Observance</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td>, <td>National holiday</td>, <td class="nw">Sunday</td>, <td><a href="/calendar/september-equinox.html">September equinox</a></td>, <td>Season</td>, <td class="nw">Sunday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td>, <td>National holiday</td>, <td class="nw">Monday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td>, <td>National holiday</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td>, <td>National holiday</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td>, <td>National holiday</td>, <td class="nw">Monday</td>, <td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td>, <td>Observance</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td>, <td>National holiday</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td>, <td>National holiday</td>, <td class="nw">Wednesday</td>, <td><a href="/holidays/southkorea/halloween">Halloween</a></td>, <td>Observance</td>, <td class="nw">Friday</td>, <td><a href="/calendar/december-solstice.html">December Solstice</a></td>, <td>Season</td>, <td class="nw">Monday</td>, <td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td>, <td>Observance</td>, <td class="nw">Tuesday</td>, <td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td>, <td>National holiday</td>, <td class="nw">Monday</td>, <td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td>, <td>Observance</td>]

   HOLIDAY_TYPE
0          Date
1       Weekday
2  Holiday Name
3  Holiday Type

In [173]:
list1 = df1
list2 = df2
list3 = df3
list4 = df4
final = pd.concat([list1,list2,list3,list4], axis = 1)
final

           DATE          WEEK  HOLIDAY_NAME  HOLIDAY_TYPE
0          Date          Date          Date          Date
1       Weekday       Weekday       Weekday       Weekday
2  Holiday Name  Holiday Name  Holiday Name  Holiday Name
3  Holiday Type  Holiday Type  Holiday Type  Holiday Type