In [1]:
# 컬럼 명 전체 바꾸기:  데이터프레임명.colums = [‘컬럼명1’,’컬럼명2’,’컬럼명3’,..]
# 부분 컬럼 명 바꾸기:  데이터프레임명.rename(columns={“변경 전 컬럼명”:”변경 후 컬럼명“})

In [17]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine)

In [18]:
# 변경전 컬럼
customerData.columns
print(customerData.columns)

Index(['customercode', 'statename', 'st', 'gender', 'dob', 'gender1', 'email',
       'fest_cnt', 'total_amount', 'ac_amount', 'av_amount', 'ha_amount',
       'emi_ce_amount', 'is_highend', 'cnt_vist', 'gap_visit'],
      dtype='object')

In [21]:
#컬럼명 전체 변경
test = customerData.rename(columns={"statename":"stname"})
test.head()
# 데이터프레임으로 반환된 것은 변수에 넣어줘야 된다.

,customercode,stname,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

# (2)

In [22]:
# 컬럼 값 바꾸기 #1 → 데이터프레임명[‘컬럼명‘].iloc[index]=2
# 컬럼 값 바꾸기 #2 → 데이터프레임명[‘컬럼명’].iloc[index] = 데이터프레임명[‘컬럼명’].iloc[0:5].mean()

In [24]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine)

In [25]:
# 변경전 컬럼
customerData.columns
print(customerData.columns)

Index(['customercode', 'statename', 'st', 'gender', 'dob', 'gender1', 'email',
       'fest_cnt', 'total_amount', 'ac_amount', 'av_amount', 'ha_amount',
       'emi_ce_amount', 'is_highend', 'cnt_vist', 'gap_visit'],
      dtype='object')

In [28]:
# 컬럼 값 바꾸기#1
customerData['NEW_COLUMN'].loc[0:]=1
customerData

KeyError: 'NEW_COLUMN'

# 시작하기 전에…

In [67]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
regionMasterData = pd.read_sql_query('SELECT * FROM KOPO_REGION_MST', engine)

In [68]:
# 변경전 컬럼
regionMasterData.columns
print(regionMasterData.columns)
regionMasterData.head(4)

Index(['regionid', 'regionname'], dtype='object')

  regionid regionname
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일

In [69]:
# DB 테이블을 읽어 Data Frame 변수에 저장하기
selectExample = pd.read_sql_query('SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW', engine)

In [70]:
# 변경전 컬럼
selectExample.columns
print(selectExample.columns)
selectExample.head(4)

Index(['regionid', 'product', 'yearweek', 'qty'], dtype='object')

  regionid    product yearweek      qty
0      A60   PRODUCT4   201402     71.0
1      A60  PRODUCT59   201402  22275.0
2      A60  PRODUCT34   201402   4463.0
3      A60  PRODUCT47   201402      0.0

In [61]:
import numpy as np

In [62]:
# pd. merge(데이터프레임명1, 데이터프레임명2, left_on='데이터프레임1 조인 키'right_on='데이터프레임2 조인 키', how = "left")

In [75]:
# 데이터 조인
test1 = pd.merge(selectExample, regionMasterData,left_on='regionid',right_on = 'regionid',how="left")
[['regionid','regionname','product','yearweek','qty']]
test1.head(3)

  regionid    product yearweek      qty regionname
0      A60   PRODUCT4   201402     71.0         태국
1      A60  PRODUCT59   201402  22275.0         태국
2      A60  PRODUCT34   201402   4463.0         태국

In [ ]:
# regionid랑 product group by하고 평균을 구해서 컬럼 하나 더 생성
# 원래 테이블이랑 left조인하고 RATIO컬럼 하나 더 생성

In [76]:
# 평균 구하기
meanValue = test1
groupby(['regionid','product'], as_index=True)
mean()
print(meanValue)

NameError: name 'groupby' is not defined